body{
    background: #2b4f5e;
}

button {
    padding: 15px 25px; /* Aumenta el relleno para hacer el botón más grande */
    border-radius: 15px; /* Aumenta el radio del borde para hacer los bordes más curvados */
    font-size: 18px; /* Aumenta el tamaño de la fuente */
    background-color: #0d3c5e;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: white;
    color: #0d3c5e;
}

/*
* Home Section
*/

.Home-header {
    display: flex;
    align-items: center;
    padding: 10px;
}

.Home-header .Home-image {
    height: 50px; /* Ajusta este valor según tus necesidades */
}

.Home-header .Home-searchbar {
    flex-grow: 1;
}

.Home-header .Home-searchbar input[type="search"] {
    width: 30%;
    margin-left: 0;
}

.Home-header .Home-headers-buttons {
    margin-left: 10px;
}

/*
* Register Section
*/

.Registro {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.Registro .Registro-Title{
    color: #f2dc05;
}

.Registro .Registro-body{
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Registro .Registro-body input,
.Registro .Registro-body select,
.Registro .Registro-body textarea {
    box-sizing: border-box;
    width: 100%;
    height: 45px; /* Ajusta este valor según tus necesidades */
    background-color: #283138;
    border-radius: 10px;
    margin-bottom: 30px; /* Añade un margen inferior para separar los elementos de entrada */
    margin-top: 10px;
    color: white;
    padding-left: 10px; /* Añade un margen a la izquierda */

}

.Registro .Registro-body input[type="submit"] {
    box-sizing: border-box;
    width: 100%;
    height: 35px; /* Ajusta este valor según tus necesidades */
    background-color: #145d98;
    color: white;
}

.Registro .Registro-Términos{
    color: #708694;
}

/*
* Login Section
*/

.Login {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.Login .Login-Title{
    color: #f2dc05;
}

.Login .Login-body{
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Login .Login-body input,
.Login .Login-body select,
.Login .Login-body textarea {
    box-sizing: border-box;
    width: 100%;
    height: 45px; /* Ajusta este valor según tus necesidades */
    background-color: #283138;
    border-radius: 10px;
    margin-bottom: 30px; /* Añade un margen inferior para separar los elementos de entrada */
    margin-top: 10px;
    color: white;
    padding-left: 10px; /* Añade un margen a la izquierda */
}

.Login .Login-body input[type="submit"] {
    box-sizing: border-box;
    width: 100%;
    height: 35px; /* Ajusta este valor según tus necesidades */
    background-color: #145d98;
    color: white;
}

/*
* Sidebar Section
 */

.Sidebar {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    background-color: #0d3c5e; /* Ajusta este valor según tus necesidades */
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    margin-bottom: 10px;
}

.Sidebar button {
    margin-bottom: 10px; /* Ajusta este valor según tus necesidades */
    width: 80%; /* Ajusta este valor según tus necesidades */
    border-radius: 15px; /* Aumenta el radio del borde para hacer los bordes más curvados */
    font-size: 18px; /* Aumenta el tamaño de la fuente */
    padding: 15px 25px; /* Aumenta el relleno para hacer el botón más grande */
    border-radius: 15px; /* Aumenta el radio del borde para hacer los bordes más curvados */
    font-size: 18px; /* Aumenta el tamaño de la fuente */
    background-color: #0d3c5e;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#Inicio {
    background-image: url('../static/assets/house_img.png');
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 20px 20px; /* Ajusta el tamaño de la imagen de fondo */
    padding-left: 15px; /* Asegúrate de que el texto no se superponga con la imagen */
    padding-right: 15px;
}

#Explorar {
    background-image: url('../static/assets/compass_img.png');
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 20px 20px; /* Ajusta el tamaño de la imagen de fondo */
    padding-left: 15px; /* Asegúrate de que el texto no se superponga con la imagen */
    padding-right: 15px;
}

#Buscar {
    background-image: url('../static/assets/search_img.png');
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 20px 20px; /* Ajusta el tamaño de la imagen de fondo */
    padding-left: 15px; /* Asegúrate de que el texto no se superponga con la imagen */
    padding-right: 15px;
}

#Ofertas {
    background-image: url('../static/assets/tag_img.png');
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 20px 20px; /* Ajusta el tamaño de la imagen de fondo */
    padding-left: 15px; /* Asegúrate de que el texto no se superponga con la imagen */
    padding-right: 15px;
}

#Gratis {
    background-image: url('../static/assets/gift_img.png');
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 20px 20px; /* Ajusta el tamaño de la imagen de fondo */
}

#Suscripción {
    background-image: url('../static/assets/card_img.png');
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 20px 20px; /* Ajusta el tamaño de la imagen de fondo */
    padding-left: 15px; /* Asegúrate de que el texto no se superponga con la imagen */
    padding-right: 15px;
    margin-left: 10px;
    margin-right: 10px;
}

#sidebarToggleOn{
    background-image: url('../static/assets/menu_img.png');
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 20px 20px; /* Ajusta el tamaño de la imagen de fondo */
    padding-left: 15px; /* Asegúrate de que el texto no se superponga con la imagen */
    padding-right: 15px;
    margin-left: 10px;
    margin-right: 10px;
}

#sidebarToggleOff{
    background-image: url('../static/assets/close_img.png');
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 20px 20px; /* Ajusta el tamaño de la imagen de fondo */
    padding-left: 15px; /* Asegúrate de que el texto no se superponga con la imagen */
    padding-right: 15px;
    margin-left: 10px;
    margin-right: 10px;
}

.Sidebar button:hover {
    background-color: white; /* Cambia el color de fondo del botón cuando se pasa el ratón por encima */
}