html, body {
    margin: 0;
    padding: 0;
}

button {
    padding: 15px 25px; /* Aumenta el relleno para hacer el botón más grande */
    border-radius: 15px; /* Aumenta el radio del borde para hacer los bordes más curvados */
    font-size: 18px; /* Aumenta el tamaño de la fuente */
    background-color: #273945;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: white;
    color: #0d3c5e;
}

/*
* Home Page
*/

.navbar {
    border-bottom: 1px solid #e4e9eb;
}

.HomeButton {
    justify-content: center;
    align-items: center;
    font-size: 18px; /* Aumenta el tamaño de la fuente */
    padding: 25px 25px 25px 25px; /* Aumenta el relleno para hacer el botón más grande */
    background-color: #273945;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

/*
* Header Section
*/

.Home-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.Home-header .Home-image {
    height: 50px; /* Ajusta este valor según tus necesidades */
}

.Home-header .Home-searchbar {
    flex-grow: 1;
}

.Home-header .Home-searchbar input[type="search"] {
    width: 30%;
    margin-left: 0;
}

.Home-header .Home-headers-buttons {
    display: flex;
    align-items: center;
    justify-content: space-between; /* Esto asegura que los botones se distribuyan uniformemente a lo largo del contenedor */
}

#Ayuda, #Bag, #User {
    border-radius: 20px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 20px 20px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: 10px;
    margin-right: 10px;
    width: 60px; /* Ajusta este valor según tus necesidades */
    height: 50px; /* Ajusta este valor según tus necesidades */
}

#Ayuda{
    background-image: url('../static/assets/question_img.png');
}

#Bag {
    background-image: url('../static/assets/bag_img.png');
}

#User {
    background-image: url('../static/assets/user_img.png');
}

/*
* Sidebar Section
 */

.Sidebar {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    background-color: #2f6272; /* Ajusta este valor según tus necesidades */
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    margin-bottom: 10px;
    width: 200px;
}

.Sidebar button {
    margin-bottom: 5px; /* Ajusta este valor según tus necesidades */
    width: 90%; /* Ajusta este valor según tus necesidades */
    border-radius: 20px; /* Aumenta el radio del borde para hacer los bordes más curvados */
    font-size: 15px; /* Aumenta el tamaño de la fuente */
    background-color: #2f6272;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#Inicio, #Explorar, #Buscar, #Ofertas, #Gratis, #Suscripción, #sidebarToggleOn, #sidebarToggleOff {
    background-repeat: no-repeat;
    background-position: 20px center;
    background-size: 20px 20px;
    width: 200px;  /* Cambia esto al ancho que desees */
    height: 80px;  /* Cambia esto al alto que desees */
}

#Inicio {
    background-image: url('../static/assets/house_img.png');
}

#Explorar {
    background-image: url('../static/assets/compass_img.png');
}

#Buscar {
    background-image: url('../static/assets/search_img.png');
}

#Ofertas {
    background-image: url('../static/assets/tag_img.png');
}

#Gratis {
    background-image: url('../static/assets/gift_img.png');
}

#Suscripción {
    background-image: url('../static/assets/card_img.png');
}

#sidebarToggleOff{
    background-image: url('../static/assets/close_img.png');
}

.Sidebar button:hover {
    background-color: #273945; /* Cambia el color de fondo del botón cuando se pasa el ratón por encima */
}

/*
* Home Content
*/

.HomeContent {
    color: white;
    background-color: #273945;
    border-radius: 10px;
    padding: 20px;
    margin: 10px;
}

.HomeContent div {
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
}

.HomeContent img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
}

/*
* Register Page
*/

.Registro {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.Registro .Registro-Title{
    font-family: 'Black Han Sans', sans-serif;
    color: #f2dc05;
}

.Registro .Registro-body{
    font-family: 'Oswald', sans-serif;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Registro .Registro-body input,
.Registro .Registro-body select,
.Registro .Registro-body textarea {
    box-sizing: border-box;
    width: 100%;
    height: 45px; /* Ajusta este valor según tus necesidades */
    background-color: #283138;
    border-radius: 10px;
    margin-bottom: 30px; /* Añade un margen inferior para separar los elementos de entrada */
    margin-top: 10px;
    color: white;
    padding-left: 10px; /* Añade un margen a la izquierda */

}

.Registro .Registro-body input[type="submit"] {
    box-sizing: border-box;
    width: 100%;
    height: 35px; /* Ajusta este valor según tus necesidades */
    background-color: #145d98;
    color: white;
}

.Registro .Registro-Términos{
    color: #708694;
}

/*
* Specifications register Page
*/

.Specifications-register{
     display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
     margin-top: 20px;
}

.Specifications-register-Title{
    font-family: 'Black Han Sans', sans-serif;
    color: #f2dc05;
     margin-top: 20px;
}

.Specifications-register .subtitulo {
    font-family: 'Oswald', sans-serif;
    color: white;
    font-size: 1.5rem;
    margin-bottom: 20px;
    text-align: left;
    width: 100%;
}

.Specifications-register-body {
    font-family: 'Oswald', sans-serif;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center; /* Centra horizontalmente los elementos */
    width: 80%; /* Ajusta el ancho del formulario según sea necesario */
    margin: 0 auto; /* Centra el formulario horizontalmente */
     overflow-x: hidden;
}

.Specifications-register-body h2 {
    font-family: 'Oswald', sans-serif;
    color: white;
    font-size: 1.2rem;
    margin-bottom: 20px;
    text-align: left;
    margin-left:450px;
}

.Specifications-register-body form {
    width: 100%;
    max-width: 600px;
}

.Specifications-register-body select, .Specifications-register-body input[type="submit"] {
    width: 100%;
    height: 45px;
    background-color: #283138;
    border-radius: 10px;
    margin-bottom: 20px;
    color: white;
    padding-left: 10px;
    border: none;
    outline: none;
}

.Specifications-register-body select {
    margin-top: 5px;
}

/*
* Prefereces register Page
*/

.Preferences-register {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
}

.Preferences-register-Title {
    font-family: 'Black Han Sans', sans-serif;
    color: #f2dc05;
    margin-top: 20px;
}

.Preferences-register-body {
    font-family: 'Oswald', sans-serif;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    margin: 0 auto;
    overflow-x: hidden;
}

.Preferences-register-body h2 {
    font-family: 'Oswald', sans-serif;
    color: white;
    font-size: 1.5rem;
    margin-bottom: 20px;
    text-align: center;
    width: 100%;
}

.Preferences-register-body form {
    width: 100%;
    max-width: 600px;
}

.Preferences-register-body label {
    font-size: 1rem;
    margin-top: 10px;
    margin-bottom: 5px;
    text-align: left;
    width: 100%;
}

.Preferences-register-body input[type="text"],
.Preferences-register-body select,
.Preferences-register-body input[type="submit"] {
    width: 100%;
    height: 45px;
    background-color: #283138;
    border-radius: 10px;
    margin-bottom: 20px;
    color: white;
    padding-left: 10px;
    border: none;
    outline: none;
}

.Preferences-register-body select {
    margin-top: 5px;
}


/*
* Login Page
*/

.Login {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.Login .Login-Title{
    font-family: 'Black Han Sans', sans-serif;
    color: #f2dc05;
}

.Login .Login-body{
    font-family: 'Oswald', sans-serif;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Login .Login-body input,
.Login .Login-body select,
.Login .Login-body textarea {
    box-sizing: border-box;
    width: 100%;
    height: 45px; /* Ajusta este valor según tus necesidades */
    background-color: #283138;
    border-radius: 10px;
    margin-bottom: 30px; /* Añade un margen inferior para separar los elementos de entrada */
    margin-top: 10px;
    color: white;
    padding-left: 10px; /* Añade un margen a la izquierda */
}

.Login .Login-body input[type="submit"] {
    box-sizing: border-box;
    width: 100%;
    height: 35px; /* Ajusta este valor según tus necesidades */
    background-color: #145d98;
    color: white;
}

/*
* Subscription Page
*/

.SubscriptionContainer {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.SubscriptionContainer .SubscriptionRow {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.SubscriptionContainer .SubscriptionCol {
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    background-color: #f5f5f5;
    width: 30%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}

.SubscriptionContainer .SubscriptionCol:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.SubscriptionContainer .SubscriptionCol h2 {
    color: #333;
    font-size: 24px;
}

.SubscriptionContainer .SubscriptionCol ul {
    list-style-type: none;
    padding: 0;
}

.SubscriptionContainer .SubscriptionCol ul li {
    padding: 5px 0;
    color: #666;
}

.SubscriptionContainer .SubscriptionCol h1 {
    font-size: 36px;
    color: #333;
    margin-top: 20px;
}
